/*
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #0b1d26;
  background-image: url("./../img/bg/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #fff;
}

/* BASE */
.conteiner {
  max-width: 1492px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.conteiner-wide {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 40px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* HEADER */
.header {
  padding-bottom: 710px;
}

.nav-wrapper {
  margin-bottom: 145px;
  padding-top: 64px;
}

.logo {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.nav a:hover {
  color: #fbd784;
}

.nav a::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: -13px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.nav a:hover::after {
  bottom: 0px;
  background-color: #fbd784;
  opacity: 1;
}

.account {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.account:hover {
  color: #fbd784;
}

.account::before {
  content: url("./../img/icons/account.svg");
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.align-central {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-button {
  position: relative;
  z-index: 9;
  display: none;
  height: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

.nav-button:focus, .nav-button:active {
  outline: none;
}

.nav-button-icone {
  position: relative;
  display: block;
  width: 42px;
  height: 5px;
  border: none;
  background-color: #fff;
}

.nav-button-icone::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  display: block;
  width: 42px;
  height: 5px;
  background-color: #fff;
}

.nav-button-icone::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 42px;
  height: 5px;
  background-color: #fff;
}

.nav-button-close .nav-button-icone {
  background-color: transparent;
  position: fixed;
  right: 39px;
}

.nav-button-close .nav-button-icone::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.nav-button-close .nav-button-icone::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.mobile-nav {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  display: none;
  /*display: flex;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
  height: 100%;
  padding: 50px 70px 50px 0;
  background-color: rgba(10, 17, 27, 0.808);
}

.mobile-nav .nav {
  display: block;
}

.mobile-nav .nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav .nav ul li {
  margin: 0;
  margin-bottom: 25px;
}

.mobile-nav .account {
  display: block;
  margin: 0 0 0 40px;
}

/* HERO */
.hero {
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.hero:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.hero__categoty {
  position: relative;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  padding-left: 104px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__categoty::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.hero__title {
  font-family: "Playfair Display", serif;
  margin-bottom: 33px;
  font-size: 88px;
  line-height: 1.22;
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.719);
}

.hero__scroll {
  display: inline-block;
  padding-right: 32px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.222;
  color: #ffffff;
}

.hero__scroll::after {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 24px;
  content: url("./../img/icons/arrow_down.svg");
}

/* ARTICLE */
.article {
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article__text {
  position: relative;
  padding-left: 150px;
  max-width: 782px;
  margin-right: 20px;
}

.article__text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 27px;
  color: #ffffff;
}

.article__text::before {
  position: absolute;
  left: 5px;
  top: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-weight: 900;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}

.article__subtitle {
  position: relative;
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  padding-left: 96px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article__subtitle::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.article__title {
  font-family: "Playfair Display", serif;
  margin-bottom: 27px;
  max-width: 555px;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}

.article__read-more {
  text-decoration: none;
  display: inline-block;
  padding-right: 40px;
  position: relative;
  color: #fbd784;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0px;
}

.article__read-more::after {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 16px;
  content: url("./../img/icons/arrow_right.svg");
}

/* FOOTER */
.footer {
  padding-bottom: 120px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_copyright-logo {
  margin-bottom: 24px;
}

.footer_copyright-desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  max-width: 303px;
}

.footer_copyright-terms {
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}

.footer_nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_nav + .footer_nav {
  margin-left: 212px;
}

.footer_nav-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #fbd784;
}

.footer_nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  max-width: 200px;
}

.footer_nav ul {
  margin-top: -16px;
  padding: 0;
  margin: 0;
}

.footer_nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
}

.footer_nav a::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: -13px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.footer_nav a:hover::after {
  bottom: 0px;
  background-color: #ffffff;
  opacity: 1;
}

.footer_nav li {
  padding: 0;
  margin: 0;
  margin-top: 11px;
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */